<%= form_for ([@character, @character.skills.build]), remote: true, :html => {:mulitipart => true} do |f| %>

	<div class="field">
	  <%= f.label :name %><br />
	  <%= f.text_field :name %>
	</div>

	<div class="field">
	  <%= f.label :value %><br />
	  <%= f.number_field :value %>
	</div>

	<div class="field">
	  <%= f.label :icon %><br />
	  <%= f.file_field :icon %>
	</div>

	<div class="actions">
	  <%= f.submit %>
	</div>

<% end %>