<p>
<b>Name:</b>
<%= skill.name %>
</p>

<p>
<b>Value:</b>
<%= skill.value %>
</p>

<p>
  <strong>Icon:</strong>
  <%= image_tag skill.icon_url(:thumb) if skill.icon.present? %>
</p>

<p>
  <%= link_to 'Edit', edit_character_skill_path(skill.character, skill) %>
  <%= link_to 'Destroy', [skill.character, skill], remote: true, :confirm => 'Are you sure?',
    :method => :delete %>
</p>