<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  
  <%= image_tag(@character.avatar_url, :width => 200) if @character.avatar.present? %>
</p>

<h2>Skills</h2>
<%= render @character.skills %>

<h2>Add your Skills</h2>
<%= render "skills/form" %>

<p>
  <strong>Submitted by </strong>
  <%= @character.user.username %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'List of characters', characters_path %>
