<div class="jumbotron">

	<div class="row">

		<div class="col-lg-4" class: "btn btn-default" id="characters">
			<%= render @character %>
			<br/>
			
			<%= link_to 'Edit', edit_character_path(@character), class: "btn btn-default" %> 
			<%= link_to 'Back', characters_path, class: "btn btn-default" %>
		</div>

	    <div class="col-lg-4" id="skills">
			<h2>Skills</h2>
			<%= render @character.skills %>
	    </div>


		<div class="col-lg-4" id="form">
			<h2>Add your skills</h2>
		    <%= render "skills/form" %>
		</div>
	</div>
	<p>
	  <strong>Submitted by </strong>
	  <%= @character.user.username %>
	</p>
</div>

